{%load static%}
<div>
	<div class="list-itens">
		<ul class="itens mb-0">
			<div>
				<li class="logo">
					<a href="{% url "inicio" %}"><img src="{%static 'img/LOGO.png'%}" alt="logo" height="38px" width="89,5px"/></a>
				</li>
			</div>
			<div>
				<li>
					<a href="{% url "inicio" %}"><i class="fa-solid fa-house"></i></a>
				</li>
				<!--<li>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-bell"></i></a>
				</li>-->
				<li>
					<div class="circle">
						<div class="dropdown">
							<a href="#" data-toggle="dropdown"><i class="fa-solid fa-user text-dark" ></i></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  <a class="dropdown-item-icone " href="#">
								<div class="circle-dropdown">
									<i class="fa-solid fa-user fa-3x text-dark" ></i>
								</div>
							  </a>
							  	<div class="content-dropdown">
									<a class="dropdown-item " href="#">Nome: José da silva</a>
									<a class="dropdown-item " href="#">Email: Josédasilva@gmail.com</a>
									<a class="dropdown-item " href="#">Telefone: (99) 99999-9999</a>
								</div>
								<div class="footer-dropdown">
									<a class="dropdown-item " href="#" data-toggle="modal" data-target="#exampleModal">Perfil</a> {% comment %} falta função de editar a area de perfil {% endcomment %}
							  		<a class="dropdown-item " href="{% url 'logout' %}">Sair</a>
								</div>
							
						  </div>
					</div>
				</li>
			</div>
		</ul>
	</div>
	
</div>
