{%load static%}
<div>
	<div class="list-itens">
		<ul class="itens mb-0">
			<div>
				<li class="logo">
					<a href="{% url "inicio" %}"><img src="{%static 'img/LOGO.png'%}" alt="logo" height="38px" width="89,5px"/></a>
				</li>
			</div>
			<div>
				<li>
					<a href="{% url "inicio" %}"><i class="fa-solid fa-house"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-bell"></i></a>
				</li>
				<li>
					<div class="circle">
						<div class="dropdown">
							<a href="#" data-toggle="dropdown"><i class="fa-solid fa-user" ></i></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  <a class="dropdown-item" href="#">Perfil</a>
							  <a class="dropdown-item" href="#">Editar</a>
							  <a class="dropdown-item" href="#">sair</a>
							</div>
						  </div>
					</div>
				</li>
			</div>
		</ul>
	</div>
	
</div>
