<div class="l-navbar" id="nav-bar">
	<nav class="nav">
		<div class="btn-toggle">
			<i class="bx bx-menu" id="btn-toggle"></i>
		</div>
		<div class="nav_list">
			<a href="{% url 'inicio' %}" class="nav_link link_sidebar" id="link_inicio">
				<i class="bx bxs-bar-chart-alt-2 nav_icon"></i>
				<span class="nav_name">Inicio</span>
			</a>
			<a href="{% url 'areas' %}" class="nav_link link_sidebar" id="link_areas">
				<i class="bx bxs-grid nav_icon"></i>
				<span class="nav_name">Áreas</span>
			</a>
			<a href="{% url 'plantacoes' %}" class="nav_link link_sidebar" id="link_plantacoes">
				<i class="bx bxs-leaf nav_icon"></i>
				<span class="nav_name">Plantações</span>
			</a>
			<a href="	{% url 'irrigacoes' %}" class="nav_link link_sidebar" id="link_irrigacoes">
				<i class="bx bxs-droplet nav_icon"></i>
				<span class="nav_name">Irrigações</span>
			</a>
			<a href="#" class="nav_link link_sidebar" id="link_tarefas">
				<i class="bx bxs-book nav_icon"></i>
				<span class="nav_name">Tarefas</span>
			</a>
			
		</div>
	</nav>
</div>
