{%load static%}
<div class="container">
	<div class="list-itens">
		<ul class="itens">
			<div>
				<li class="logo">
					<img
						src="{%static 'img/LOGO.png'%}"
						alt="logo"
						height="38px"
						width="89,5px"
					/>
				</li>
			</div>
			<div>
				<li>
					<a href="#"><i class="fa-solid fa-house"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-bell"></i></a>
				</li>
				<li>
					<div class="circle">
						<a href=""><i class="fa-solid fa-user"></i></a>
					</div>
				</li>
			</div>
		</ul>
	</div>
</div>
