.container {
	padding: 0;
	margin-bottom: 0;
}

/*cards*/
a { color: inherit; } 

.card {
	border: solid 1px var(--green-primary);
	border-radius: 15px;
	padding: 0;
	margin: 0;
	width: 220px;
	height: 170px;
}

.card-title {
	font-size: 20px;
	font-weight: bolder;
	color: #3f3d3d;
	display: flex;
	opacity: 65%;
}

.card-text {
	color: var(--green-primary);
	font-size: 70px;
	display: flex;
	justify-content: center;
}
