.container_forms {
	padding: 1.5rem;
	padding-bottom: 5rem;
	margin: 0 auto;
	border-top: 2px solid var(--green-secondary);
	background-color: var(--white-color);
}

.btn_tables,
.btn_tables:hover {
	color: var(--white-color) !important;
	font-weight: 100;
	font-size: 13px;
}
.btn_green {
	background-color: var(--green-secondary) !important;
}

.btn_red {
	background-color: var(--red-color) !important;
}

.btn_salvar,
.btn_salvar:hover {
	background-color: var(--green-secondary) !important;
	color: var(--white-color) !important;
	float: right;
	margin-left: 0.5rem;
}
