@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--nav-width: 68px;
	--gray-dark: #3f3d3d;
	--green-primary: #0bd692;
	--green-secondary: #36ae7c;
	--white-color: #ffffff;
	--light-color: #eeeeee;
	--body-font: 'Inter', sans-serif;
	--title-font: 'Roboto' sans-serif;
	--font-name: 'Raleway', sans-serif;
	--normal-font-size: 1rem;
	--z-fixed: 100;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: 0.5s;
	max-width: 100vw;
}

.title-page {
	font-family: var(--title-font);
	font-weight: 700;
	font-size: 1.1rem;
}

.container_pagination{
	margin-top: 340px;
	display:flex; 
	justify-content: space-around;
}

