body {
	background-color: var(--green-primary);
}
.header {
	background-color: var(--white-color);
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo{
	display: flex;
	align-items: initial;
	margin-left: 10px;
	width:89px; 
	height: 38px;
}

.header .section-header {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	gap: 50px;
	text-decoration:none;
	color: black;
}
.section2-header {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	gap: 50px;
}
.btn-header {
	background-color: var(--gray-dark);
	color: var(--white-color);
	width: 130px;
	height: 35px;
	border-radius: 50px;
	border: none;
}
.main {
	justify-content: space-evenly;
	display: flex;
	height: 90vh;
	flex-direction: row;
}
.section1-main {

	width: 70%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.main .section2-main {
	width: 30%;
	display: flex;
	align-items:center;

	justify-content: center;
	gap: 15px;
}
.input-main {
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: none;
	margin: 5px;
	padding-left: 10px;
}
.smg {
	color: var(--white-color);
}
.btn-main {
	background-color: var(--gray-dark);
	color: var(--light-color);
	width: 300px;
	height: 50px;
	border-radius: 10px;
	border: none;
}
.main .section2-main a{
	text-decoration: none;
	color: black;
	display: flex;
	margin-left: 10px;
}
