body {
	background-color: var(--green-primary);
}
.header {
	background-color: var(--white-color);
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: initial;
	margin-left: 10px;
	width: 89px;
	height: 38px;
}

.header .section-header {
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	gap: 50px;
	text-decoration: none;
	color: black;
}
.section2-header {
	padding: 10px;
	display: flex;
	gap: 50px;
}

.section2-header p {
	margin: 0;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.btn-header {
	background-color: var(--gray-dark);
	color: var(--white-color);
	width: 130px;
	height: 35px;
	border-radius: 50px;
	border: none;
}
.main {
	display: flex;
	justify-content: space-evenly;
	height: 90vh;
	padding: 0 3rem 0 3rem;
	flex-direction: row;
}
.main .section1-main {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main .section2-main {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-main {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	margin: 5px;
	padding-left: 10px;
}

h2.smg {
	color: var(--white-color);
	font-size: 2.5rem;
	font-weight: bolder;
	font-family: var(--font-name);
}
h2.smg span {
	color: var(--gray-dark);
}

h6.smg {
	color: var(--white-color);
	font-size: 1.3rem;
	font-weight: 100;
	font-family: var(--font-name);
}

.btn-main {
	background-color: var(--gray-dark);
	color: var(--light-color);
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
}
a {
	text-decoration: none !important;
	display: flex;
	margin-left: 10px;
	color: black !important;
	font-weight: bold;
}
