.layout {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-areas:
		'header' 'header'
		'aside' 'main';
	overflow-x: hidden;
}

header {
	grid-area: header;
	width: 100%;
	position: fixed;
	z-index: 2;
}

main {
	grid-area: main;
	min-height: 100vh;
	padding-bottom: 2rem;
	position: relative;
	transition: 0.5s;
	padding-top: 1rem;
	padding-left: calc(var(--nav-width) + 1.1rem);
	padding-right: 1%;
	background-color: var(--light-color);
	max-width: 100vw;
}

.main-ml {
	padding-left: calc(var(--nav-width) + 1.1rem + 156px);
}

aside {
	grid-area: aside;
	z-index: 1;
	margin-top: 3.5rem;
}
