.layout {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-areas:
		'header' 'header'
		'aside' 'main';
}

header {
	grid-area: header;
}

main {
	grid-area: main;
	height: 100vh;
	position: relative;
	margin-left: var(--nav-width);
	transition: 0.5s;
	padding: 1rem;
	background-color: var(--light-color);
}

.main-ml {
	margin-left: calc(var(--nav-width) + 156px);
}

aside {
	grid-area: aside;
}
