{% extends 'layout.html' %} {% load static %} {% block content %}
<div>
	<div>
		<p class="title-page">Áreas de Cultivo</p>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Apto</h5>
					<p class="card-text">2</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Inapto</h5>
					<p class="card-text">0</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Disponivel</h5>
					<p class="card-text">0</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Ocupado</h5>
					<p class="card-text">0</p>
				</div>
			</div>
		</div>
	</div>
	<div class="descricao">
		<ul>
			<li>Código</li>
			<li>Nome</li>
			<li>Ocupação</li>
			<li>Status</li>
		</ul>
	</div>
	<div>
		<table class="table table-striped table-hover">
			<tbody>
				<tr>
					<th scope="row">ÁreaAC0015</th>
					<td>Fazendinha feliz</td>
					<td>Disponivel</td>
					<td>Apto</td>
				</tr>
				<tr>
					<th scope="row">ÁreaAC0015</th>
					<td>dona Ana</td>
					<td>Ocupado</td>
					<td>Inapto</td>
				</tr>
				<tr>
					<th scope="row">ÁreaAC0015</th>
					<td>seu José</td>
					<td>Disponivel</td>
					<td>Apto</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
