{% extends 'layout.html' %}{% block content %}{% load widget_tweaks%}


<form action="" method="post" enctype='multipart/form-data'>
    {% csrf_token %} 
    {% for field in formuser.visible_fields %}
    {% if field.label == 'Icone do perfil' %}
			<div class="mt-3">
				<label for="{{field.id_for_label}}">{{field.label}}</label>
				{{field}}
			</div>
            {% else %}
                <label for="{{field.id_for_label}}" class="mb-2">{{field.label}}</label>
                {{field|add_class:'form-control'}}
            {% endif %}
        {%endfor%}
        <input class="btn btn_salvar" type="submit" value="enviar">
</form>
{% endblock%}