{% extends 'layout.html' %} {% load static %} {% block content %}

<div>
    <div class="d-flex align-items-center justify-content-between mb-3">
		<p class="title-page">Irrigações</p>
		<a href="{% url 'cadastrar_irrigacoes' %}"><button type="button" class="btn btn_salvar">Adicionar</button></a>
	</div>
  <table class="table table-striped table-hover mt-5">
        <thead class="border-botton border-secondary">
            <tr class>
                <th scope="col">Plantação</th>
                <th scope="col">Programação</th>
                <th scope="col">Ult. irrigação</th>
                <th scope="col">Próx. irrigação</th>
                <th scope="col">Horário</th>
                <th scope="col">Duração</th>
                <th scope="col"></i>Irrigado</th>
                <th scope="col"></i>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for irrigacao in irrigacoes %}
            <tr>
                <td>{{irrigacao.plantacao}}</td>
                {% if irrigacao.programacao == 'TODOS_DIAS'%}<td>Todos os dias</td>{% else %}<td>Não se repete</td>{% endif %}
                {% if not irrigacao.dtUltIrrigacao%}<td> - </td>{% else %}<td>{{irrigacao.dtUltIrrigacao}}</td>{% endif %}
                <td>{{irrigacao.dtProxIrrigacao}}</td> 
                <td>{{irrigacao.horario}}</td> 
                <td>{{irrigacao.duracao}}</td> 
                <td><a href="#"><i class="fa-solid fa-square-check fa-1x d-flex mt-1 ms-4 text-success" style="font-size: 1.4em;"></i></a></td>
                <td><a href="{% url 'update_plantacoes' irrigacao.id %}" class="m-1"><i class="fa-solid fa-pencil text-black"></i></a><a href="#" ><i class="fa-sharp fa-solid fa-trash text-black"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container_pagination">
        <nav aria-label="Page-navigation" class="d-flex align-itens justify-content-around" style="margin-top: 316px;">
            <ul class="pagination">
            <li class="page-item ">
                <a class="page-link text-success" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item "><a class="page-link text-success" href="#">1</a></li>
            <li class="page-item "><a class="page-link text-success" href="#">2</a></li>
            <li class="page-item "><a class="page-link text-success" href="#">3</a></li>
            <li class="page-item ">
                <a class="page-link text-success" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}