<!DOCTYPE html>{% load static%}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/pagina404.css'%}" />
        <link rel="stylesheet" href="{% static 'css/global.css'%}" />
		<title>Página 404</title>
	</head>
	<body>
		<div class="pagina404">
            <img src="{% static 'img/404.png'%}" />
            <div>
                <h1>Oops! Você está perdido?</h1>
                <a href="{% url 'inicio' %}"><div class="btn_404">Retornar para a Home</div></a>
            </div>
        </div 
	</body>
</html>
