<!DOCTYPE html>
{%load static%}
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link rel="stylesheet" href="{%static 'css/padrao.css'%}" />
    <!-- Place your kit's code here -->
    <script
      src="https://kit.fontawesome.com/be79eaef8b.js" crossorigin="anonymous"></script>
    <title>tela Padrão</title>
  </head>

  <body>
    <div class="container">
      <div class="list-itens">
        <ul class="itens">
          <div>
            <li class="logo">
              <img src="{%static 'img/LOGO.png'%}" alt="logo" height="38px" width="89,5px" />
            </li>
          </div>
          <div>
            <li>
              <a href="#"><i class="fa-solid fa-house"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-bell"></i></a>
            </li>
            <li>
              <div class="circle">
                <a href=""><i class="fa-solid fa-user"></i></a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </body>
</html>
