{% extends 'home.html' %}{% load static%}{% block content %}

<div class="container">
  <div class="row">
    <h3 class="ml-2 mb-0 mt-5" >Equipe de desenvolvedores</h3>
<div class="col d-flex p-0">
  <div class="card">
    <img class="card-img-top" src="{% static 'img/kaio.png' %}" alt="Card image cap"/>
    <div class="card-body">
      <p class="card-text"><a href="https://www.instagram.com/kaio_santos_sousa/" target="blank">Kaio dos Santos</a></p>
      <p class="card-text">Desenvolvedor Back-End</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/viviane.png' %}" alt="Card image cap"/>
    <div class="card-body">
      <p class="card-text"><a href="https://www.instagram.com/vivianefdo/" target="blank">Viviane Ferreira</a></p>
      <p class="card-text">Desenvolvedor Full-Stack</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/nalberth.png' %}" alt="Card image cap"/>
    <div class="card-body">
      <p class="card-text"><a href="https://www.instagram.com/nalberth_dionisio/" target="blank">Nalberth Dionisio</a></p>
      <p class="card-text">Desenvolvedor Front-End</p>
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
