{% extends 'home.html' %}{% load static%}{% block content %}

<div class="card">
  <img class="card-img-top" src="{% static 'img/kaio.png' %}" alt="Card image cap"/>
  <div class="card-body">
    <p class="card-text">Kaio dos Santos </p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="{% static 'img/viviane.png' %}" alt="Card image cap"/>
  <div class="card-body">
    <p class="card-text">Viviane Ferreira</p>
  </div>
</div>
<div class="card">
  <img class="card-img-top" src="{% static 'img/nalberth.png' %}" alt="Card image cap"/>
  <div class="card-body">
    <p class="card-text">Nalberth Dionisio</p>
  </div>
</div>

{% endblock %}
