{% extends 'partials/layout.html' %} {% load static %} {% block content %}
<div class="container">
  <div>
    <p class="title-Page">Ver áreas</p>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Apto</h5>
          <p class="card-text">2</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Inapto</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Disponivel</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ocupado</h5>
          <p class="card-text">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="descricao">
    <ul>
      <li>Código</li>
      <li>Nome</li>
      <li>Ocupação</li>
      <li>Status</li>
    </ul>
  </div>
</div>
{% endblock %}
